# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/public/uploads/
/.vscode/
/package-lock.json
/src/libs/ip2location/IPV6-COUNTRY-REGION-CITY.BIN

/public/*.py
public/source
public/origin
public/resume
public/maillist
public/upload
public/download

# GCS account
turing-d8f2f59ffc97.json