<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	
	<appSettings>
        <add key="AdminURL" value="ws://127.0.0.1:5555"/>
        <add key="LogDebug" value="true"/>
        <add key="CameraName" value="RICOH THETA V FullHD"/>
        <add key="AudioName" value="Microphone (RICOH THETA V)"/>
        <add key="StreamingCMD" value="-f dshow -rtbufsize 2147.48M -i video={0}:audio={1} -c:v libx264  -preset ultrafast -tune zerolatency -g 15 -b:v 5M -pix_fmt yuv420p -s 1920x960 -c:a aac -b:a 160k -ar 44100 -threads 8 -f flv {2}"/>
  </appSettings>

</configuration>
