doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Turing Enterprise
    style(type='text/css').
      a {text-decoration: none;}
  body
    table(border='0', cellspacing='0', cellpadding='0', width='100%', bgcolor='#F6F6F6', style='color:rgb(74,74,74);font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:14px;line-height:20px;margin:0px auto')
      tbody
        tr
          td(style='padding-left:10px;padding-right:10px;padding-top:0px')
      tbody
        tr
          td(bgcolor='#ffffff', style='text-align:center;background-color:rgb(255,255,255);padding:1% 4%')
            span
              font(color='#888888')
            span
              font(color='#888888')
            table(border='0', cellspacing='0', cellpadding='0', style='width:90%;margin:0px auto', align='center')
              tbody
                tr
                  td(style='padding-bottom:0px')
                    div(style='text-align:center')
                      h1(style='font-family:"Lucida Grande","Helvetica Neue",Arial;line-height:23px;text-align:center;margin-top:0px;margin-bottom:0px')
                        font(color='#ff0000', style='font-weight:normal; text-decoration:none;', size='6') developers.turing.com
                      h1(style='color:rgb(30,30,28);font-weight:500;font-size:1.15em;font-family:"Lucida Grande","Helvetica Neue",Arial;line-height:10px;text-align:center;margin-top:0px;margin-bottom:8px')
                        br
                      h1(style='color:rgb(30,30,28);font-weight:500;font-size:1.15em;font-family:"Lucida Grande","Helvetica Neue",Arial;line-height:23px;text-align:center;margin-top:0px;margin-bottom:8px') Interested in American software engineering jobs?
                      span
                        font(color='#888888')
                    span
                      font(color='#888888')
                tr
                  td(style='padding-bottom:10px')
                    div(style='text-align:center')
                      center
                        h1(style='color:rgb(216,60,61);font-weight:500;font-size:16px;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;line-height:10px;text-align:center;max-width:250px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:0px auto;text-decoration:none')
                tr
                  td
                    table(border='0', cellspacing='0', cellpadding='0', style='width:100%;margin:0px auto')
                      tbody
                        tr
                          td(width='48%', align='right')
                            u
                            table(cellspacing='0', cellpadding='0', align='right')
                              tbody
                                tr
                                  td(align='center', width='120', height='40', bgcolor='#d83c3d', style='display:block;background:rgb(216,60,61);border:1px solid rgb(216,60,61);border-radius:5px;margin:0px auto')
                                    a(href=yesLink, style='font-size:16px;font-weight:bold;font-family:sans-serif;text-decoration:none;line-height:40px;width:100%;display:inline-block', target='_blank')
                                      font(color='#ffffff')
                                        span Yes 
                            u
                          td(width='4%')
                            div(style='width:18px')
                          td(width='48%', align='left')
                            u
                            table(cellspacing='0', cellpadding='0', align='left')
                              tbody
                                tr
                                  td(align='center', width='120', height='40', bgcolor='#4fddbe', style='display:block;background:rgb(224,224,224);border:1px solid rgb(224,224,224);border-radius:5px;margin:0px auto')
                                    a(href=noLink, style='font-size:16px;font-weight:bold;font-family:sans-serif;text-decoration:none !important; line-height:40px;width:100%;display:inline-block', target='_blank')
                                      font(color='#999999')
                                        span(style='text-decoration:none!important;') No
                            u
                tr
                  td(style='padding:20px 50px 0px')
                    div(style='text-align:center')
            span
              font(color='#888888')
        tr
          td(style='font-size:0px')
        tr
          td(border='0', cellspacing='0', cellpadding='0', width='100%', style='padding:20px 0px')
            span
              font(color='#888888')
            span
              font(color='#888888')
            span
              font(color='#888888')
            table(border='0', cellspacing='0', cellpadding='0', width='100%', style='border-collapse:collapse; margin:0px auto;', align='center')
              tbody
                tr
                  td
                    div(style='text-align: center; margin:0px 0px 0px;text-align:center;font-size:11px;font-family:"Lucida Grande","Helvetica Neue",Arial;color:rgb(187,187,187)')
                      a(href=unsubscribeLink, style='font-weight:bold;color:rgb(28,117,188);text-decoration:underline', target='_blank') Click here to unsubscribe from Turing jobs emails
        tr
          td(bgcolor='#ffffff', style='text-align:center;background-color:rgb(255,255,255);padding:1% 4%')
            div(style='height:20px;')
            div(style='text-align: center; margin:0px 0px 0px;text-align:center;font-size:11px;font-family:"Lucida Grande","Helvetica Neue",Arial;color:rgb(187,187,187)')
              | Turing Enterprises Inc. 1900 Embarcadero Road #104, Palo Alto CA 94303
