doctype html
head
div
  div
    font(face='Arial, sans-serif' style='font-family:arial, sans-serif') Hi,
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Congratulations on passing our Javascript test and expressing interest in our front-end developer challenge. I'm excited to get things started!
  br
  div(style='font-family:arial, sans-serif')
    b
      font(face='Arial, sans-serif') Please find the front-end challenge details here:
  br
  div(style='font-family:arial ,sans-serif')
    font(face='Arial, sans-serif')
      a(href=link1) 
        | #{link1}
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | You will have up to 7 days upon receipt of this email to complete the front end challenge.
    font(face='Arial, sans-serif')
      | If you email us exceptional work, we'll be able to immediately engage you as a full time front-end remote engineer, working with us 40+ hours per week remotely.
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | We are highly encourage you to upload the project using your challenge tab on developers.turing.com dashboard. Alternatively, you can just mail us your project to this email address.
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Please add me on Google Hangouts and Skype using the details below so that I can quickly respond to any questions or concerns you have.
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Google Hangouts: 
      a(href='mailto:softwarejobs@turing.com')  
      | softwarejobs@turing.com
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif') Best of luck,
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif') Khuong Nguyen - Technical Product Manager at Turing
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      a(href='http://turing.com/') Turing.com
      |  |
      a(href='https://developers.turing.com') 
      | developers.turing.com