doctype html
head
div
  div
    font(face='Arial, sans-serif' style='font-family:arial, sans-serif') Hi #{firstName},
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Thanks for signing up with Turing platform on #{date} and scoring 100% in our basic #{language} programming test! Turing connects exceptional software developers in other parts of the world to American companies that are hiring for remote software positions.
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Turing is rapidly increasing in size and has a large demand for full stack developers with expertise in Node and React. If you are a full stack developer,
      b
      font(face='Arial, sans-serif') Please fill out the questionnaire below and we will be in contact shortly, with next steps. 
  br
  div(style='font-family:arial ,sans-serif')
      font(face='Arial, sans-serif')
        a(href=link) https://docs.google.com/forms/d/1fgPNtwgGaK09LpX6xG4R9a8nHl1VnK65JOeaKgOzYVs/prefill
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Please let me know if you have any further questions.
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif') Best of luck,
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif') Glenn Vu - Technical Product Manager at Turing
  div(style='font-family:arial, sans-serif;')
    font(face='Arial, sans-serif')
      a(href='https://turing.com/') Turing.com
      |  |
    font(face='Arial, sans-serif')
      a(href='https://developers.turing.com/') developers.turing.com
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Turing is based  in Palo Alto,  California, U.S.A.  We connect exceptional software developers in other parts of the world to American companies that are hiring for remote software positions.
    font(face='Arial, sans-serif')
      | Turing is backed by well known investors like Facebook's first CTO (Adam D'Angelo), executives from Google, Facebook, Amazon, Twitter, Founders Fund (investors in Facebook, Tesla, Asana etc).
    font(face='Arial, sans-serif')
      | Our rigorous vetting process tests three critical areas: technical skill, English skill, and fit for remote work.
    font(face='Arial, sans-serif')
      | Turing is led by Stanford University alum and serial A.I. entrepreneurs 
      a(href='https://www.linkedin.com/in/jonsid/') Jonathan Siddharth
      |  and 
      a(href='https://www.linkedin.com/in/vijay0/') Vijay Krishnan
      | , whose last A.I. company leveraged elite remote talent and had a successful acquisition. (
      a(href='https://techcrunch.com/2017/02/23/revcontent-acquires-rover/') Techcrunch story
      | ).
    font(face='Arial, sans-serif') Read more articles about Turing here:
  br 
  table(cellpadding='0', cellspacing='0', width='100%')
    tbody
      tr
        td(align='left')
          ol
            li
              font(face='Arial, sans-serif')
                a(href='https://medium.com/turing-com/the-future-of-work-is-remote-d93e29297e6b?fbclid=IwAR0cVhKlBbN_BVeck4VV7ZpqBIwlQE1Z3VzDZjkrdqOl8c_LyM0fjY87Hvs') The Future of Work is Remote
            li
              font(face='Arial, sans-serif')
                a(href='https://www.entrepreneur.com/article/325683?fbclid=IwAR1_KRM9bGtpotzG_zv4FV2BKXHgDZYDFJUFI6HurwnFGVudD5LT4X7vluA') Turing Helps Entrepreneurs Tap Into the Global Talent Pool for Engineers
            li
              font(face='Arial, sans-serif')
                a(href='https://medium.com/@suzfletcher/how-to-hire-elite-software-developers-for-your-startup-c0fe761375de?fbclid=IwAR2N1lm6Sxrf_Pm-cARK65wNikn4IY6IjAocBDKrw5bDzckypk555lN9xLI') How To Hire Elite Software Developers For Your Startup
            li
              font(face='Arial, sans-serif')
                a(href='https://medium.com/@jedng1/betting-on-ai-for-distributed-software-development-9bebfbc762ae') Betting on AI for distributed software development
            li
              font(face='Arial, sans-serif')
                a(href='https://500startups.com.vn/growth/turing-helps-unlock-vietnams-tech-talent-to-the-rest-of-the-world/?fbclid=IwAR2AmkQCuhIlfpYE8X_W51gzQPTaexp54RXcDjVZ_AYSedFnye6mBa4xjyU') Turing helps unlock Vietnam’s tech talent to the rest of the world
            li
              font(face='Arial, sans-serif')
                a(href='https://www.linkedin.com/pulse/mexican-developers-find-way-around-wall-xavier-ponce-de-le%C3%B3n/?fbclid=IwAR2soP5rPMrBToJ8OlCDBaALr-xMlIkHbxy4BkxcVBD_wW4zIPdXyrAFcWU') Mexican Developers Find a Way Around the Wall   
  