doctype html
head
div
  div
    font(face='Arial, sans-serif' style='font-family:arial, sans-serif') Hi #{firstName},
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | In addition to our previous jobs, we now have new remote American software job openings with need for experienced Data Engineers.
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | If you have expertise in Data Engineering, please fill out the questionnaire below and we will be in contact shortly. 
  br
  div(style='font-family:arial ,sans-serif')
      font(face='Arial, sans-serif')
        a(href=link) 
        | #{link}
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Please let me know if you have any further questions.
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif') Best,
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif') Glenn Vu - Technical Product Manager at Turing
  div(style='font-family:arial, sans-serif;')
    font(face='Arial, sans-serif')
      a(href='https://turing.com/') Turing.com
