doctype html
head
div
  div
    font(face='Arial, sans-serif' style='font-family:arial, sans-serif') Hi
    span(style='font-family:Arial, sans-serif') ,
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Thanks for filling out our questionnaire and expressing interest in our React Native Developer Challenge! We&apos;re excited to get things started.
  br
  div(style='font-family:arial, sans-serif')
    b
      font(face='Arial, sans-serif') Please find the Front End challenge project details here:
  br
  div(style='font-family:arial ,sans-serif')
    font(face='Arial, sans-serif')
      a(href=link1) 
        | #{link1}
  br
  div(style='font-family:arial, sans-serif')
    b
      font(face='Arial, sans-serif')
        | You will have seven (7) days upon receipt of this email to complete the front end challenge.
      font(face='Arial, sans-serif')
      | If you email us quality work for Parts 2, 3 and 4, we&apos;ll be able to engage you as a full time react native mobile remote developer, working with us 40+ hours per week remotely.
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Please add me on Google hangouts and skype using the details below so that I can quickly respond to any questions you have and also chat with you easily to run the work you send me.
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Google hangouts: 
      a(href='mailto:glenn@turing.com')  
      | glenn@turing.com
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      | Skype: 
      a(href='mailto:glenn@turingai.net')  
      | glenn@turingai.net
  br
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif') Best of luck,
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif') Glenn Vu - Technical Product Manager at Turing
  div(style='font-family:arial, sans-serif')
    font(face='Arial, sans-serif')
      a(href='http://turing.com/') Turing.com
      |  |
      a(href='https://developers.turing.com') 
      | developers.turing.com